/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Index.html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* .contact */

.about, .services, .skills,  
.HFP-des, .HFP-libraries, .HFP-datainspection, 
.HFP-loaddata, .HFP-trainTestSplit, .HFP-featureScaling, 
.HFP-handlingClassImbalance, .HFP-models, .HFP-gridSearch, 
.HFP-evaluation, .HFP-tableOfResult, .HFP-rocCurves, 
.HFP-featureImportance, .HFP-predictionModel, 
.HFP-modelSerialization, .hfp-con, .full-code,
.hfp-inputs, .hfp-inputs-predict,
footer{
    font-family: 'Poppins', sans-serif;
}

/* .contact .contact-content */
.about .about-content,
.services .serv-content,
.skills .skills-content,
.sms-inputs, .sms-inputs-predict,
.hfp-inputs, .hfp-inputs-predict,
.HFP-des .HFP-des-content,
.HFP-libraries .HFP-libraries-content,
.HFP-datainspection .HFP-datainspection-content,
.HFP-featureScaling .HFP-featureScaling-content,
.HFP-models .HFP-models-content,
.HFP-evaluation .HFP-evaluation-content,
.HFP-rocCurves .HFP-rocCurves-content,
.HFP-predictionModel .HFP-predictionModel-content,
.cct-datapreprocessing .cct-datapreprocessing-content,
.HFP-loaddata .HFP-loaddata-content,
.HFP-trainTestSplit .HFP-trainTestSplit-content,
.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content,
.HFP-gridSearch .HFP-gridSearch-content,
.HFP-tableOfResult .HFP-tableOfResult-content,
.HFP-featureImportance .HFP-featureImportance-content,
.HFP-modelSerialization .HFP-modelSerialization-content,
.hfp-con .hfp-con-content,
.full-code .full-code-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("../images/home_page_img.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 37px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: red;
    background: none;
}

/* about section styling */
.about .title::after{
    content: "Who AM I?";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* services section styling */
.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,

.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "Heart Failure";
}
.services .serv-content .card{
    width: calc(100% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after{
    background: rgb(255, 255, 255);
    content: "Skills Matter!";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .python::before{
    width: 70%;
}
.skills-content .right .machinelearning::before{
    width: 70%;
}
.skills-content .right .Programmingknowledge::before{
    width: 75%;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .about1 .max-width .about1-content .text1{
        font-size: 35px;
    }
    .hfp-inputs .max-width .hfp-inputs-content .input-form .row{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .about1 .max-width .about1-content .text1{
        font-size: 35px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 35px;
    }
    .home .home-content .text-3{
        font-size: 40px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }

    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    /* .contact .contact-content .column */
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .HFP-des .HFP-des-content .right{
        flex: 100%;
    }
    .HFP-libraries .HFP-libraries-content .column,
    .HFP-datainspection .HFP-datainspection-content .column,
    .HFP-featureScaling .HFP-featureScaling-content .column,
    .HFP-models .HFP-models-content .column,
    .HFP-evaluation .HFP-evaluation-content .column,
    .HFP-rocCurves .HFP-rocCurves-content .column,
    .HFP-predictionModel .HFP-predictionModel-content .column{
        width: 100%;
    }
    .HFP-libraries .HFP-libraries-content .left,
    .HFP-datainspection .HFP-datainspection-content .left,
    .HFP-featureScaling .HFP-featureScaling-content .left,
    .HFP-models .HFP-models-content .left,
    .HFP-evaluation .HFP-evaluation-content .left,
    .HFP-rocCurves .HFP-rocCurves-content .left,
    .HFP-predictionModel .HFP-predictionModel-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .HFP-libraries .HFP-libraries-content .right,
    .HFP-datainspection .HFP-datainspection-content .right,
    .HFP-featureScaling .HFP-featureScaling-content .right,
    .HFP-models .HFP-models-content .right,
    .HFP-evaluation .HFP-evaluation-content .right,
    .HFP-rocCurves .HFP-rocCurves-content .right,
    .HFP-predictionModel .HFP-predictionModel-content .right{
        flex: 100%;
    }
    .HFP-loaddata .HFP-loaddata-content .column,
    .HFP-trainTestSplit .HFP-trainTestSplit-content .column,
    .HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .column,
    .HFP-gridSearch .HFP-gridSearch-content .column,
    .HFP-tableOfResult .HFP-tableOfResult-content .column,
    .HFP-featureImportance .HFP-featureImportance-content .column,
    .HFP-modelSerialization .HFP-modelSerialization-content .column{
        width: 100%;
    }
    .HFP-loaddata .HFP-loaddata-content .left,
    .HFP-trainTestSplit .HFP-trainTestSplit-content .left,
    .HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .left,
    .HFP-gridSearch .HFP-gridSearch-content .left,
    .HFP-tableOfResult .HFP-tableOfResult-content .left,
    .HFP-featureImportance .HFP-featureImportance-content .left,
    .HFP-modelSerialization .HFP-modelSerialization-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .HFP-loaddata .HFP-loaddata-content .right,
    .HFP-trainTestSplit .HFP-trainTestSplit-content .right,
    .HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .right,
    .HFP-gridSearch .HFP-gridSearch-content .right,
    .HFP-tableOfResult .HFP-tableOfResult-content .right,
    .HFP-featureImportance .HFP-featureImportance-content .right,
    .HFP-modelSerialization .HFP-modelSerialization-content .right{
        flex: 100%;
    }
    .hfp-con .hfp-con-content .right,
    .full-code .full-code-content .right{
        flex: 100%;
    }
    
    .about1 .max-width .about1-content .text1{
        font-size: 30px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 33px;
    }
    .home .home-content .text-3{
        font-size: 37px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .about1 .max-width .about1-content .text1{
        font-size: 26px;
    }
    .hfp-inputs .max-width .hfp-inputs-content .input-form .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
    
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 23px;
    }
    .home .home-content .text-3{
        font-size: 23px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text,
    .HFP-des .HFP-des-content .right .text,
    .HFP-libraries .HFP-libraries-content .right .text,
    .HFP-datainspection .HFP-datainspection-content .right .text,
    .HFP-featureScaling .HFP-featureScaling-content .right .text,
    .HFP-models .HFP-models-content .right .text,
    .HFP-evaluation .HFP-evaluation-content .right .text,
    .HFP-rocCurves .HFP-rocCurves-content .right .text,
    .HFP-predictionModel .HFP-predictionModel-content .right .text,
    .HFP-loaddata .HFP-loaddata-content .right .text,
    .HFP-trainTestSplit .HFP-trainTestSplit-content .right .text,
    .HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .right .text,
    .HFP-gridSearch .HFP-gridSearch-content .right .text,
    .HFP-tableOfResult .HFP-tableOfResult-content .right .text,
    .HFP-featureImportance .HFP-featureImportance-content .right .text,
    .HFP-modelSerialization .HFP-modelSerialization-content .right .text,
    .hfp-con .hfp-con-content .right .text,
    .full-code .full-code-content .right .text,
    .hfp-inputs, .hfp-inputs-content, 
    .hfp-inputs-predict, .hfp-inputs-predict-content{
        font-size: 19px;
    }
    
    .about1 .max-width .about1-content .text1{
        font-size: 25px;
    }
    
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}


.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.input-form .row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.input-field-1{
    text-align: center;
    justify-content: center;
}


.input-message{
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    transition: .3s;
    width: 45%;
}

.input-message:focus{
    border-color: crimson;
    box-shadow: 0 0 8px 0 crimson;
}

.button{
    text-align: center;
}

.button button{
    background-color: transparent;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: crimson;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border: none;
}

.button button:hover{
    color: white;
    background: crimson;
    box-shadow: 0 0 10px crimson, 0 0 40px crimson, 0 0 80px crimson;
    transition-delay: .5s;
}

.button button span{
    position: absolute;
    display: block;
}

.button button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, crimson);
}

.button button:hover span:nth-child(1){
    left: 100%;
    transition: .75s;
}

.button button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, crimson);
}

.button button:hover span:nth-child(3){
    right: 100%;
    transition: .75s;
}

.button button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, crimson);
}

.button button:hover span:nth-child(2){
    top: 100%;
    transition: .75s;
}

.button button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, crimson);
}

.button button:hover span:nth-child(4){
    bottom: 100%;
    transition: .75s;
}



/* About Me ---- Page*/

.about1{
    display: flex;
    background: url("../images/Aboutme_3.jpeg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.about1 .max-width{
  width: 100%;
  display: flex;
}
.about1 .max-width .row{
  margin-right: 0;
}

.about1 .about1-content span{
    text-transform: uppercase;
    display: block;
}

.about1 .about1-content{
    justify-content: center;
    transition: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
.about1 .about1-content .text1{
    color: crimson;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 2.5s 1;
}

@keyframes text{
    0%{
        color: white;
    }
    30%{
        letter-spacing: 25px;
    }
    85%{
        letter-spacing: 8px;
    }
}



.about2{
    padding-top: 200px;
    color:black;
    background: white;
}
.about2 .title::before{
    background: black;
}
.about2 .title::after{
    background-color: white;
    content: "Welcome";
}
.about2-content{
    text-align: left;
}

.about-btn{
    color:black;
    background: white;
    text-align: center;
}

.about-btn a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about-btn a:hover{
    color: crimson;
    background: none;
}

/*------------------Heart Failure Prediction Project-------------------*/


/* HFP Description */
.HFP-des{
    padding-top: 200px;
    color:#fff;
    background: #111;
}
.HFP-des .title::before{
    background: #fff;
}
.HFP-des .title::after{
    background-color: #111;
    content: "Description";
}
.HFP-des .HFP-des-content .right{
    width: 100%;
}
.HFP-des .HFP-des-content .right p{
    text-align: justify;
}
.HFP-des .HFP-des-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.HFP-des .HFP-des-content .right a:hover{
    color: red;
    background: none;
}

/* HFP LIBRARIES */
.HFP-libraries{
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.HFP-libraries .title::after{
    background-color: rgb(255, 255, 255);
    content: "Libraries";
}
.HFP-libraries .HFP-libraries-content .left{
    width: 45%;
}

.HFP-libraries .HFP-libraries-content .code-wrapper {
  width: 100%;
}

.HFP-libraries .HFP-libraries-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-libraries .HFP-libraries-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-libraries .HFP-libraries-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-libraries .HFP-libraries-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-libraries .HFP-libraries-content .right{
    width: 55%;
}
.HFP-libraries .HFP-libraries-content .right p{
    text-align: justify;
}



/* HFP LOAD DATA */
.HFP-loaddata{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.HFP-loaddata .title::before{
    background: rgb(255, 255, 255);
}
.HFP-loaddata .title::after{
    background-color: rgb(0, 0, 0);
    content: "Load Data";
}
.HFP-loaddata .HFP-loaddata-content .left{
    width: 45%;
}


.HFP-loaddata .HFP-loaddata-content .code-wrapper {
  width: 100%;
}

.HFP-loaddata .HFP-loaddata-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-loaddata .HFP-loaddata-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-loaddata .HFP-loaddata-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-loaddata .HFP-loaddata-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-loaddata .HFP-loaddata-content .right{
    width: 55%;
}
.HFP-loaddata .HFP-loaddata-content .right p{
    text-align: justify;
}

/* HFP Data Inspection */
.HFP-datainspection{
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.HFP-datainspection .title::after{
    background-color: rgb(255, 255, 255);
    content: "Data Inspection";
}
.HFP-datainspection .HFP-datainspection-content .left{
    width: 45%;
}

.HFP-datainspection .HFP-datainspection-content .code-wrapper {
  width: 100%;
}

.HFP-datainspection .HFP-datainspection-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-datainspection .HFP-datainspection-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-datainspection .HFP-datainspection-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-datainspection .HFP-datainspection-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-datainspection .HFP-datainspection-content .right{
    width: 55%;
}
.HFP-datainspection .HFP-datainspection-content .right p{
    text-align: justify;
}


/* HFP Train Test Split */
.HFP-trainTestSplit{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.HFP-trainTestSplit .title::before{
    background: rgb(255, 255, 255);
}
.HFP-trainTestSplit .title::after{
    background-color: rgb(0, 0, 0);
    content: "Train & Test";
}
.HFP-trainTestSplit .HFP-trainTestSplit-content .left{
    width: 45%;
}


.HFP-trainTestSplit .HFP-trainTestSplit-content .code-wrapper {
  width: 100%;
}

.HFP-trainTestSplit .HFP-trainTestSplit-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-trainTestSplit .HFP-trainTestSplit-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-trainTestSplit .HFP-trainTestSplit-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-trainTestSplit .HFP-trainTestSplit-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-trainTestSplit .HFP-trainTestSplit-content .right{
    width: 55%;
}
.HFP-trainTestSplit .HFP-trainTestSplit-content .right p{
    text-align: justify;
}

/* HFP Feature Scaling */
.HFP-featureScaling{
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.HFP-featureScaling .title::after{
    background-color: rgb(255, 255, 255);
    content: "Feature Scaling";
}
.HFP-featureScaling .HFP-featureScaling-content .left{
    width: 45%;
}

.HFP-featureScaling .HFP-featureScaling-content .code-wrapper {
  width: 100%;
}

.HFP-featureScaling .HFP-featureScaling-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-featureScaling .HFP-featureScaling-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-featureScaling .HFP-featureScaling-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-featureScaling .HFP-featureScaling-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-featureScaling .HFP-featureScaling-content .right{
    width: 55%;
}
.HFP-featureScaling .HFP-featureScaling-content .right p{
    text-align: justify;
}


/* HFP Handling Class Imbalance */
.HFP-handlingClassImbalance{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.HFP-handlingClassImbalance .title::before{
    background: rgb(255, 255, 255);
}
.HFP-handlingClassImbalance .title::after{
    background-color: rgb(0, 0, 0);
    content: "Handling Class Imbalance";
}
.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .left{
    width: 45%;
}


.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .code-wrapper {
  width: 100%;
}

.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .right{
    width: 55%;
}
.HFP-handlingClassImbalance .HFP-handlingClassImbalance-content .right p{
    text-align: justify;
}

/* HFP Models */
.HFP-models{
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.HFP-models .title::after{
    background-color: rgb(255, 255, 255);
    content: "Models";
}
.HFP-models .HFP-models-content .left{
    width: 45%;
}

.HFP-models .HFP-models-content .code-wrapper {
  width: 100%;
}

.HFP-models .HFP-models-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-models .HFP-models-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-models .HFP-models-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-models .HFP-models-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-models .HFP-models-content .right{
    width: 55%;
}
.HFP-models .HFP-models-content .right p{
    text-align: justify;
}


/* HFP Grid Search */
.HFP-gridSearch{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.HFP-gridSearch .title::before{
    background: rgb(255, 255, 255);
}
.HFP-gridSearch .title::after{
    background-color: rgb(0, 0, 0);
    content: "Grid Search";
}
.HFP-gridSearch .HFP-gridSearch-content .left{
    width: 45%;
}


.HFP-gridSearch .HFP-gridSearch-content .code-wrapper {
  width: 100%;
}

.HFP-gridSearch .HFP-gridSearch-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-gridSearch .HFP-gridSearch-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-gridSearch .HFP-gridSearch-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-gridSearch .HFP-gridSearch-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-gridSearch .HFP-gridSearch-content .right{
    width: 55%;
}
.HFP-gridSearch .HFP-gridSearch-content .right p{
    text-align: justify;
}

/* HFP Evaluation */
.HFP-evaluation{
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.HFP-evaluation .title::after{
    background-color: rgb(255, 255, 255);
    content: "Evaluation";
}
.HFP-evaluation .HFP-evaluation-content .left{
    width: 45%;
}

.HFP-evaluation .HFP-evaluation-content .code-wrapper {
  width: 100%;
}

.HFP-evaluation .HFP-evaluation-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-evaluation .HFP-evaluation-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-evaluation .HFP-evaluation-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-evaluation .HFP-evaluation-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-evaluation .HFP-evaluation-content .right{
    width: 55%;
}
.HFP-evaluation .HFP-evaluation-content .right p{
    text-align: justify;
}


/* HFP Table Of Result */
.HFP-tableOfResult{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.HFP-tableOfResult .title::before{
    background: rgb(255, 255, 255);
}
.HFP-tableOfResult .title::after{
    background-color: rgb(0, 0, 0);
    content: "Table Of Result";
}
.HFP-tableOfResult .HFP-tableOfResult-content .left{
    width: 45%;
}


.HFP-tableOfResult .HFP-tableOfResult-content .code-wrapper {
  width: 100%;
}

.HFP-tableOfResult .HFP-tableOfResult-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-tableOfResult .HFP-tableOfResult-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-tableOfResult .HFP-tableOfResult-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-tableOfResult .HFP-tableOfResult-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-tableOfResult .HFP-tableOfResult-content .right{
    width: 55%;
}
.HFP-tableOfResult .HFP-tableOfResult-content .right p{
    text-align: justify;
}


/* HFP ROC Curves */
.HFP-rocCurves{
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.HFP-rocCurves .title::after{
    background-color: rgb(255, 255, 255);
    content: "ROC Curves";
}
.HFP-rocCurves .HFP-rocCurves-content .left{
    width: 45%;
}

.HFP-rocCurves .HFP-rocCurves-content .code-wrapper {
  width: 100%;
}

.HFP-rocCurves .HFP-rocCurves-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-rocCurves .HFP-rocCurves-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-rocCurves .HFP-rocCurves-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-rocCurves .HFP-rocCurves-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-rocCurves .HFP-rocCurves-content .right{
    width: 55%;
}
.HFP-rocCurves .HFP-rocCurves-content .right p{
    text-align: justify;
}


/* HFP Feature Importance */
.HFP-featureImportance{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.HFP-featureImportance .title::before{
    background: rgb(255, 255, 255);
}
.HFP-featureImportance .title::after{
    background-color: rgb(0, 0, 0);
    content: "Feature Importance";
}
.HFP-featureImportance .HFP-featureImportance-content .left{
    width: 45%;
}


.HFP-featureImportance .HFP-featureImportance-content .code-wrapper {
  width: 100%;
}

.HFP-featureImportance .HFP-featureImportance-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-featureImportance .HFP-featureImportance-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-featureImportance .HFP-featureImportance-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-featureImportance .HFP-featureImportance-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-featureImportance .HFP-featureImportance-content .right{
    width: 55%;
}
.HFP-featureImportance .HFP-featureImportance-content .right p{
    text-align: justify;
}


/* HFP Prediction Model */
.HFP-predictionModel{
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.HFP-predictionModel .title::after{
    background-color: rgb(255, 255, 255);
    content: "Prediction Model";
}
.HFP-predictionModel .HFP-predictionModel-content .left{
    width: 45%;
}

.HFP-predictionModel .HFP-predictionModel-content .code-wrapper {
  width: 100%;
}

.HFP-predictionModel .HFP-predictionModel-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-predictionModel .HFP-predictionModel-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-predictionModel .HFP-predictionModel-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-predictionModel .HFP-predictionModel-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-predictionModel .HFP-predictionModel-content .right{
    width: 55%;
}
.HFP-predictionModel .HFP-predictionModel-content .right p{
    text-align: justify;
}


/* HFP Model Serialization */
.HFP-modelSerialization{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.HFP-modelSerialization .title::before{
    background: rgb(255, 255, 255);
}
.HFP-modelSerialization .title::after{
    background-color: rgb(0, 0, 0);
    content: "Model Serialization";
}
.HFP-modelSerialization .HFP-modelSerialization-content .left{
    width: 45%;
}


.HFP-modelSerialization .HFP-modelSerialization-content .code-wrapper {
  width: 100%;
}

.HFP-modelSerialization .HFP-modelSerialization-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.HFP-modelSerialization .HFP-modelSerialization-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.HFP-modelSerialization .HFP-modelSerialization-content .left .code-wrapper .code-header {
    width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.HFP-modelSerialization .HFP-modelSerialization-content .left .code-wrapper .code-box{
    width: 90%;
    height: 300px;

    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

.HFP-modelSerialization .HFP-modelSerialization-content .right{
    width: 55%;
}
.HFP-modelSerialization .HFP-modelSerialization-content .right p{
    text-align: justify;
}



/* HFP conclusion */
.hfp-con{
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.hfp-con .title::before{
    background: rgb(0, 0, 0);
}
.hfp-con .title::after{
    background-color: rgb(255, 255, 255);
    content: "Conclusion";
}
.hfp-con .hfp-con-content .right{
    width: 100%;
}
.hfp-con .hfp-con-content .right p{
    text-align: justify;
}
.hfp-con .hfp-con-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.hfp-con .hfp-con-content a:hover{
    color: red;
    background: none;
}

/* HFP Prediction Input Area */
.hfp-inputs{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.hfp-inputs .title::before{
    background: rgb(255, 255, 255);
}
.hfp-inputs .title::after{
    background-color: rgb(0, 0, 0);
    content: "Prediction";
}
.hfp-inputs-content{
    text-align: center;
}

.hfp-inputs-predict{
    padding-top: 200px;
    color:#fff;
    background: #111;
}
.hfp-inputs-predict .title::before{
    background: #fff;
}
.hfp-inputs-predict .title::after{
    background-color: #111;
    content: "Predicted";
}
.hfp-inputs-predict-content{
    text-align: center;
}

.hfp-inputs-predict .hfp-inputs-predict-content .prediction-container {
  max-width: 800px;
  margin: 80px auto;
  text-align: center;
  color: #fff;
}

.hfp-inputs-predict .hfp-inputs-predict-content .prediction-container .prediction-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.hfp-inputs-predict .hfp-inputs-predict-content .prediction-container .prediction-box {
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.hfp-inputs-predict .hfp-inputs-predict-content .prediction-container .high-risk {
  background: #ffe5e5;
  color: #b30000;
  border-left: 6px solid #ff4d4d;
}

.hfp-inputs-predict .hfp-inputs-predict-content .prediction-container .low-risk {
  background: #e6fff2;
  color: #006644;
  border-left: 6px solid #00cc88;
}

.hfp-inputs-predict .hfp-inputs-predict-content .prediction-container .prediction-box h3 {
  margin-bottom: 10px;
}

.hfp-inputs-predict .hfp-inputs-predict-content .prediction-container .disclaimer {
  font-size: 14px;
  opacity: 0.85;
  margin-top: 20px;
}


/* FULL CODE */
.full-code{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.full-code .title::before{
    background: rgb(255, 255, 255);
}
.full-code .title::after{
    background-color: rgb(0, 0, 0);
    content: "Prediction";
}

.full-code .full-code-content .right{
    width: 100%;
}
.full-code .full-code-content .right p{
    text-align: justify;
}

.full-code a {
    display: inline-block;
    background: crimson;
    color: #fff;

    font-size: 20px;        
    padding: 8px 20px;      

    margin-top: 15px;
    font-weight: 500;

    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.full-code a:hover {
    color: crimson;
    background: none;
}

/* Code Area */
.full-code .full-code-content .code-wrapper {
    width: 100%;
}

.full-code .full-code-content .left .code-wrapper .code-header .copy-btn {
  background: #e91e63;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.full-code .full-code-content .left .code-wrapper .code-header .copy-btn:hover {
  opacity: 0.9;
}

.full-code .full-code-content .left .code-wrapper .code-header {
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #e91e63;
  padding: 10px 14px;
  border-radius: 10px 10px 0 0;
  font-family: monospace;
  font-size: 18px;
}

.full-code .full-code-content .left .code-wrapper .code-box{
    width: 100%;
    height: 400px;
    background-color: #0f172a;
    color: #e5e7eb;

    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    border-radius: 10px;
    border: 1px solid #334155;

    padding: 12px 14px;
    resize: none;

    overflow-x: auto;
    overflow-y: auto;

    white-space: pre;
    padding-left: 0;
    margin-left: 0;
}

/* Download DataSet  */
.download-btn {
    display: inline-block;
    background: crimson;
    color: #fff;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid crimson;
    transition: 0.3s ease;
}

.download-btn:hover {
    background: transparent;
    color: crimson;
}
